# Python

**pycache**/
*.py[cod]
*.pyo

# Virtual environments

.venv/
venv/
ENV/
env/

# Pytest

.pytest_cache/

# SQLite database

*.db
*.sqlite
*.sqlite3

# Flask

instance/

# IDE/editor files

.vscode/
.idea/

# macOS

.DS_Store
